﻿<section class="mainbar" id="Fond">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <p> Contenu de la page (page.html)</p>
                            </div>
                        </div>
                        <!-- Tables de frais -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>